/* DHMAS RED: #4a1e15
DHMAS GREEN: #164036 */

html, body {
    height: 100%;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Lora', serif;
}

.covid-19{
    text-align: center;
    color: white;
    background-color: #164036;
    font-family: 'Lora', serif;
    padding: 4px 0 4px 0;
}

.invisible-div{
    height: 80px;
    display: none;
}

nav{
    background: white;
    height: 80px;
    width: 100%;
    font-family: 'Lora', serif;
    text-decoration: none;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 20px;
}

#nav-logo{
    max-height: 85%;
    max-width: 85%;
    margin-top: 4px;
}
/* .fa{
    text-decoration: none;
} */
nav ul {
    float: right;
    margin-right: 20px; /*check if should be 60*/
}

nav ul .nav-link{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    z-index: 100;
}

nav ul .nav-link a{
    color: #4a1e15;
    font-weight: 500;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover{
    text-decoration: underline;
    transition: .5s; 
}

.checkbtn{
    font-size: 30px;
    color: #4a1e15;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.phone{
    font-size: 30px;
    color: #4a1e15;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#phone-main{
    color: #4a1e15;
}
a{
    color: inherit;
}

#check{
    display: none;
}

@media (max-width: 952px){

    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul .nav-link a {
        font-size: 16px;

    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
        margin-right: 40px;
    }
    .invisible-div{
        height: 80px;
        display: block;
    }

    nav {
        position: fixed;
        z-index: 100;
      }

    .nav-links{
        z-index: 99;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul .nav-link{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul .nav-link a{
        font-size: 20px;
    }
    /* a:hover, a.active{
        background: none;
        color: #164036;
    } */
    #check:checked ~ ul{
        left: 0;
    }

}

@media (max-width: 360px){
    label.logo{
        font-size: 30px;
        padding-left: 10px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

.upper-footer {
    align-items: flex-start;
    font-size: 16px;
    padding: 40px 0 0 0;
    background-color: #4a1e15;
    /* background-image: url("./assets/photos/footerwallpaper.jpg"); */
    color: white;
    /* border-top: 5px solid #164036; */
    max-width: 100%;
    height: 500px;
}

footer {
    z-index: 0;
    font-family: 'Lora', serif;
    text-decoration: none;
    background-color: white;
    position: absolute;
    text-align: center;
    left: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    font-family: 'Lora', serif;
    color: #4a1e15;
    
}

.city-block{
    padding-left: 35px;
    
}

.city-list{
    font-family: 'Lora', serif;
    list-style-type: initial;
}

.list-city{
    font-family: 'Lora', serif;
    list-style-type: initial;
}

.phone-link {
    font-family: 'Lora', serif;
    color: white;
    text-decoration: none;
}

.phone-link:hover{
    color: white;
    text-decoration: none;
}

.icon-row{
    display: flex;
    text-align: center;
}

.icon-row-column{
    margin: 0 15px 0 15px;
}

.fb-link {
    color: white;
    text-decoration: none;
}

.fb-link:hover{
    color: white;
    text-decoration: none;
}

.email-link {
    color: white;
    text-decoration: none;
}

.email-link:hover{
    color: white;
    text-decoration: none;
}

.address-title{
    font-family: 'Lora', serif;
    font-size: 20px;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.map-and-directions-link {
    color: white;
}

.map-and-directions-link:hover {
    color: white;
    text-decoration: none;
}

.footer-text{
    padding: 10px 0 5px 0;
}

.footer-hr {
    border: 1px solid grey;
    max-width: 180px;
    z-index: 0;
  }

.privacy-policy-link {
    font-size: 14px;
    margin-left: 20px;
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
    font-family: 'Lora', serif;
}

.privacy-policy-link:hover{
    color: white;
    text-decoration: none;
}

.employment-application-link {
    font-size: 14px;
    margin-left: 20px;
    padding-bottom: 16px;
    color: white;
    text-decoration: none;
    font-family: 'Lora', serif;
}

.employment-application-link:hover{
    color: white;
    text-decoration: none;
}

.contact-us-link {
    font-size: 14px;
    margin-left: 20px;
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
    font-family: 'Lora', serif;
}

.contact-us-link:hover{
    color: white;
    text-decoration: none;
    
}

.hero {
    color: white;
    width: 100%;
    font-family: 'Lora', serif;
}
.main-hero {
    /* height: 100%; */
background: url("./assets/photos/indexphoto.jpg");
background-position: center;
/* background-attachment: fixed;  */
/* glues background image */
background-size: 100% auto;
display: flex;
background-size: cover;
height: 900px;
outline: 2px solid white;
outline-offset: -20px;
}


.container-main {
    height: 100%;
    background: url("./assets/photos/indexphoto.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contact-form-hero {
    background-image: url("./assets/photos/galleryphotos/6-Metro\ Crossing-Clubhouse_Cabana\ 1.jpg");
    background-size: cover;
    /* background-size: 100% auto; */
    background-position: center;
    background-repeat: no-repeat;
    /* background: linear gradient(rgbaa(0, 0, 50, 0.5), rgba(0, 0, 50, 0.5), url("./assets/photos/Metro7.jpeg")); */
    height: 100%;
    /* filter: grayscale(1); */
    text-align: center;
    font-family: 'khula', serif;
}

.contact-form {
    margin: auto;
    margin-top: 15%;
    width: 500px;
    /* height: 500px; */
    background-color: rgba(74, 30, 21, 0.7);
    background-color: rgba(54, 69, 79, 0.7);
}

.contact-title {
    /* margin-top: 200px; */
    color: white;
    text-transform: uppercase;
    /* transition: all 4s ease-in-out; */
}
.contact-title h1 {
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 32px;
    line-height: 10px;
}
.contact-title h2 {
    font-size: 16px;
    margin-top: 10px;
}

@media (max-width: 525px){
.contact-form{
    margin-top: 35%;
    width: 100%;
}

}




/* form {
    margin-top: 50px;
    transition: all 4s ease-in-out;
} */

input::placeholder {
    color: white;
}

textarea {
    height: 80px;
}

textarea::placeholder {
    color: white;
}

.form-control {
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 18px;
    margin-bottom: 16px;
}

.form-control-submit {
    width: 400px;
    background: transparent;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    border-bottom: 1px solid white;
    color: white;
    font-size: 18px;
    margin-bottom: 16px;
}

input {
    height: 45px;
}

form-control-submit {
    background: #ff5722;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover {
    background-color: #f44336;
    cursor: pointer;
}

@media (max-width: 858px){
    .form-control {
        max-width: 300px;
    }

    .form-control-submit {
        max-width: 300px;
    }

}

@media (max-width: 350px) {
    .form-control {
        max-width: 260px;
    }

    .form-control-submit {
        max-width: 260px;
    }
}

.column-1 {
    max-width: 50%;
    float: left;
}

.column-2 {
    max-width: 50%;
    float: left;
    text-align: center;
    font-family: 'khula', serif;     
    margin: 0 auto;
}

.index-hero{
    padding-top: 120px;
    max-height: 650px;
}

.about-text {
    text-transform: uppercase;
    color: #4a1e15;
}

.hero-h1 {
    text-align: center;
    font-family: 'Lora', serif;
    letter-spacing: 10px;
    color: white;
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 12px;
    padding-top: 160px;
}



.hero-h2 {
    padding: 15px 0 15px 0;
    color: white;
    font-weight: bold;
    font-family: 'Lora', serif;
    font-size: 58px;
    text-align: center;
}

.hero-h3{
    text-decoration: none;
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 25px;
    padding: 20px 0 20px 0;
    margin-bottom: 10px;
}

.hero-hr-div{
    text-align: center;
}

.hero-hr{
    width: 300px;
    text-align: center;
    border: 3px solid #164036;
    margin: auto;
}

.footer-group{
    display: flex;
}

@media (max-width: 858px){

    .main-hero {
        outline: none;
        max-height: 500px;
        width: 100%;
        height: 500px;
        }

    .hero{
        padding-top: 20px;
    }

    .hero-h1{
        font-size: 30px;
        margin-bottom: 16px;
        padding-top: 60px;
    }

    .hero-h2{
        font-size: 30px;
    }

    .address-title{
        font-size: 18px;
    }

    .upper-footer {
        padding: 0 10px 0 0px; 
        font-size: 14px;
        padding-top: 40px;
        background-color: #4a1e15;
        color: white;
        max-width: 100%;
        height: 450px;
    }
}



@media (max-width: 600px){
    .hero-h2{
        font-size: 24px;
    }
}

@media (max-width: 410px) {
    .main-hero {
        /* padding-top: 80px; */
        height: 1000px;
    }

    .hero-h2{
        font-size: 20px;
    }
}

@media (max-width: 350px){
    .hero-hr{
        display: none;
    }
    .hero-h2{
        display: none;
    }
}

.button-container{
    text-align: center;
}

.contact-us-button{
    
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 20px;
    color: white;
    background-color: #164036;
    padding: 16px 16px 16px 16px;
    margin-top: 16px;
    letter-spacing: 2px;
    border: none;
    
}

.about-txt {
    font-size: 20px;
}

.contact-link {
    text-decoration: none;
    color: white;
}

.contact-link:hover {
    color: white;
    text-decoration: none;
}

.contact-us-button:hover{
    /* background-color: #8ba09b; */
    cursor: pointer;
    outline: 2px solid white;
    outline-offset: 5px;
}

.secondary-hero {
    /* height: 500px; */
    display: flex;
    /* max-height: 100%; */
    background-color: white;
    color: #4a1e15;
    text-transform: uppercase;
    /* border: 5px solid #4a1e15; */
    margin-bottom: 20px;
    /* column-count: 2; */
}

.definition {
    text-align: center;
    font-family: 'khula', serif;
    color: #4a1e15;
    font-size: 40px;
    margin-top: 20px;
    text-transform: uppercase;
}

.definition-2 {
    text-align: center;
    font-family: 'khula', serif; 
    color: #4a1e15;
    font-size: 32px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.introduction {
    /* margin-left: 100px; */
    margin-top: 50px;
    font-size: 16px;
    font-family: 'khula', serif; 
    display: inline-block;
    /* max-width: 35%; */
    padding-right: 20px;
    padding-left: 20px;
}

.secondary-text {
    font-family: 'khula', serif; 
    text-align: center;
    font-size: 16px;
    border: 2px solid grey;
    padding: 12px;
    /* margin-left: 100px; */
    margin-top: 30px;
}

.secondary-about-us {
    margin-top: 50px;
    text-align: center;
}

.icon-column {
    color: #4a1e15;
    padding: 12px 0 12px 0;
}

.fa-icon-row {
    text-align: center;
    font-family: 'Lora', serif;
    /* display:flex; */
    padding-top: 20px;
}

.about-us-link-box {
    object-position: center;
    display: block;
    margin: 0 auto;
    width: 600px;
    margin-left: 5%;
}

.about-us-photo-link {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* background-color: blue; */
    width: 600px;
    height: 330px;
    background-image: url("./assets/photos/DHMSign.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% auto;
    outline: 2px solid white;
    outline-offset: -10px;
    margin-top: 20px;
    
}

.about-us-link-text {
    font-family: 'khula', serif; 
    text-align: center;
    color: white;
    vertical-align: center;
    padding-top: 165px;
    font-size: 30px;
    padding-left: auto;
    padding-right: auto;
    text-transform: uppercase;
}

@media (max-width: 1300px){
    .about-us-photo-link {
        display: flex;
        width: 500px;
    }
}

.sign-img {
    outline: 2px solid white;
    outline-offset: -12px;
}

.qwe {
    text-align: center;
    color: #4a1e15;
    font-family: 'Lora', serif;
    padding: 16px 0 16px 0;
}

@media (max-width: 858px) {

    .qwe {
        font-size: 14px;
    }

    .fa-icon-row {
        font-size: 14px;
    }
}

.building-img {
    max-height: 200px;
    max-width: 300px;
    box-shadow: 0 6px 6px 0;
}

.contact-header {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    /* height: 400px; */
}



.label-text {
    color: white;
    text-emphasis: none;
    text-decoration: none;
    font-family: 'Lora', serif;
}

label {
    font-family: 'Lora', serif;

}

.contact-header {
    text-align: center;
    margin: 20px 0 20px 0;
}

.form-row {
    display: flex;
}

.form-submit-button {
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 20px;
    color: white;
    background-color: #164036;
    /* padding: 10px 12px 10px 12px; */
    padding: 25px 35px 25px 35px;    
    margin-top: 10px;
    border: none;
}

.form-submit-button:hover {
    cursor: pointer;
    outline: 2px solid white;
    outline-offset: 5px;
}

.form-field {
    margin: 0 20px 0 20px;
    max-width: 100%;
}

.form-submit-field {
    text-align: center;
    padding: 5px 5px 5px 5px;
}

p {
    font-family: 'Lora', serif;
}










/* Gallery CSS -- DO NOT CHANGE */

.hello {
    opacity: 1 !important;
  }
  .full {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .full .content {
    background-color: rgba(0,0,0,0.75) !important;
    height: 100%;
    width: 100%;
    display: grid;
  }
  .full .content img {
    left: 50%;
    transform: translate3d(0, 0, 0);
    animation: zoomin 1s ease;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
  .byebye {
    opacity: 0;
  }
  .byebye:hover {
    transform: scale(0.2) !important;
  }
  .gallery {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 8px;
  }
  .gallery img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 16px #333;
    transition: all 1.5s ease;
  }
  .gallery img:hover {
    box-shadow: 0 0 32px #333;
  }
  .gallery .content {
    padding: 4px;
  }
  .gallery .gallery-item {
    transition: grid-row-start 300ms linear;
    transition: transform 300ms ease;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  .gallery .gallery-item:hover {
    transform: scale(1.025);
  }
  @media (max-width: 600px) {
    .gallery {
      grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    }
  }
  @media (max-width: 400px) {
    .gallery {
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
  }
  @-moz-keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
  }
  @-webkit-keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
  }
  @-o-keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
  }
  @keyframes zoomin {
    0% {
      max-width: 50%;
      transform: rotate(-30deg);
      filter: blur(4px);
    }
    30% {
      filter: blur(4px);
      transform: rotate(-80deg);
    }
    70% {
      max-width: 50%;
      transform: rotate(45deg);
    }
    100% {
      max-width: 100%;
      transform: rotate(0deg);
    }
  }
  

  .upper-footer-gallery {
      margin-top: 1000px;
  }
  /* End of Gallery CSS */

.gallerytitle {
    text-align: Center;
    color: #4a1e15;
    font-family: 'Lora', serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}