/* DHMAS RED: #4a1e15
DHMAS GREEN: #164036 */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Lora', serif;
}

.covid-19{
    text-align: center;
    color: white;
    background-color: #164036;
    font-family: 'Lora', serif;
    padding: 4px 0 4px 0;
}

nav{
    background: white;
    height: 80px;
    width: 100%;
    font-family: 'Lora', serif;
    text-decoration: none;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 20px;
}

#nav-logo{
    max-height: 85%;
    max-width: 85%;
    margin-top: 4px;
}
/* .fa{
    text-decoration: none;
} */
nav ul {
    float: right;
    margin-right: 20px; /*check if should be 60*/
}

nav ul .nav-link{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    z-index: 100;
}

nav ul .nav-link a{
    color: #4a1e15;
    font-weight: 500;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover{
    text-decoration: underline;
    transition: .5s; 
}

.checkbtn{
    font-size: 30px;
    color: #4a1e15;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.phone{
    font-size: 30px;
    color: #4a1e15;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#phone-main{
    color: #4a1e15;
}
a{
    color: inherit;
}

#check{
    display: none;
}

@media (max-width: 952px){

    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul .nav-link a {
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
        margin-right: 40px;
    }

    nav {
        position: fixed;
        z-index: 100;
      }

    .nav-links{
        z-index: 99;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul .nav-link{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul .nav-link a{
        font-size: 20px;
    }
    /* a:hover, a.active{
        background: none;
        color: #164036;
    } */
    #check:checked ~ ul{
        left: 0;
    }

}

@media (max-width: 360px){
    label.logo{
        font-size: 30px;
        padding-left: 10px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

.upper-footer {
    align-items: flex-start;
    font-size: 16px;
    padding: 40px 0 0 0;
    background-color: #164036;
    color: white;
    max-width: 100%;
    height: 500px;
}

footer {
    z-index: 0;
    font-family: 'Lora', serif;
    text-decoration: none;
    background-color: white;
    position: absolute;
    text-align: center;
    left: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    font-family: 'Lora', serif;
    color: #4a1e15;
    
}

.city-block{
    padding-left: 35px;
    
}

.city-list{
    font-family: 'Lora', serif;
    list-style-type: initial;
}

.list-city{
    font-family: 'Lora', serif;
    list-style-type: initial;
}

.phone-link {
    font-family: 'Lora', serif;
    color: white;
    text-decoration: none;
}

.phone-link:hover{
    color: white;
    text-decoration: none;
}

.icon-row{
    display: flex;
    text-align: center;
}

.icon-row-column{
    margin: 0 15px 0 15px;
}

.fb-link {
    color: white;
    text-decoration: none;
}

.fb-link:hover{
    color: white;
    text-decoration: none;
}

.email-link {
    color: white;
    text-decoration: none;
}

.email-link:hover{
    color: white;
    text-decoration: none;
}

/* .city-column{
    padding: 0 0 0 10px;
    margin-left: 10px;
} */

/* .column {
    padding: 0;
} */

.address-title{
    font-family: 'Lora', serif;
    font-size: 18px;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.footer-text{
    padding: 5px 0 0 0px 0;
}

.footer-hr {
    border: 1px solid grey;
    max-width: 180px;
    z-index: 0;
  }

.privacy-policy-link {
    font-size: 14px;
    margin-left: 20px;
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
    font-family: 'Lora', serif;
}

.privacy-policy-link:hover{
    color: white;
    text-decoration: none;
}

.employment-application-link {
    font-size: 14px;
    margin-left: 20px;
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
    font-family: 'Lora', serif;
}

.employment-application-link:hover{
    color: white;
    text-decoration: none;
}

.contact-us-link {
    font-size: 14px;
    margin-left: 20px;
    padding-bottom: 10px;
    color: white;
    text-decoration: none;
    font-family: 'Lora', serif;
}

.contact-us-link:hover{
    color: white;
    text-decoration: none;
}

.hero {
    background-color:  #4a1e15;
    color: white;
    width: 100%;
    padding-top: 120px;
    font-family: 'Lora', serif;
    max-height: 650px;
}

.hero-h1 {
    text-align: center;
    font-family: 'Lora', serif;
    letter-spacing: 10px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 12px;
}



.hero-h2 {
    padding: 15px 0 15px 0;
    color: #8ba09b;
    font-weight: bold;
    font-family: 'Lora', serif;
    font-size: 50px;
    text-align: center;
}

.hero-h3{
    text-decoration: none;
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 25px;
    padding: 20px 0 20px 0;
    margin-bottom: 10px;
}

.hero-hr-div{
    text-align: center;
}

.hero-hr{
    width: 300px;
    text-align: center;
    border: 3px solid #164036;
    margin: auto;
}

.footer-group{
    display: flex;
}

@media (max-width: 858px){
    .hero{
        padding-top: 150px;
    }

    .hero-h1{
        font-size: 30px;
        margin-bottom: 16px;
    }

    .hero-h2{
        font-size: 30px;
    }

    .upper-footer {
        padding: 0 10px 0 0px; 
        font-size: 14px;
        padding-top: 40px;
        background-color: #164036;
        color: white;
        max-width: 100%;
        height: 500px;
    }
}

@media (max-width: 600px){
    .hero-h2{
        font-size: 24px;
    }
}

.button-container{
    text-align: center;
}

.contact-us-button{
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 20px;
    color: white;
    background-color: #164036;
    padding: 25px 35px 25px 35px;
    margin-top: 10px;
    border: none;
}

.contact-us-button:hover{
    background-color: #8ba09b;
    cursor: pointer;
}